<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="BankCurrenceExchangeUrl" value="https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange" />
        <add key="CurrencyCodeParam" value ="valcode" />
        <add key="DateParam" value ="date" />
        <add key="AdditionalParams" value="json"/>
        <!-- Tax rates are set in percent!  -->
        <add key="TaxRate" value="5"/>
        <add key ="MilitaryTaxRate" value="1"/>
        <!-- Columns' names from csv file -->
        <add key="PaymentDateColumn" value="DOC_DATE"/>
        <add key="PaymentAmountColumn" value="CR"/>
        <add key="PaymentCurrencyColumn" value="CUR_NUMB"/>
        <add key="ColumnSplitter" value=";"/>
        

    </appSettings>
</configuration>